@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Supermercado+One&display=swap');

h1 {
    font-size: 2vw;
    text-align: center;
    font-family: 'Comforter', cursive;
}
h3 {
    color: gray;
    font-size: 1vw;
    text-align: center;
    font-family: 'Supermercado One', cursive;
    border-bottom: gray solid 7px;
    width: 47.5%;
    margin: auto;
}
img {
    margin: 1.25%;
    width: 22.5%;
    float: left;
}
body {
    background-color: #ccc;
}
